.product-card {
    position: relative;
    background-color: white;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 280px;
}

.product-card:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.card-image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: transform 0.5s ease;
}

/* ----- BADGES (Nhãn New, Sale...) ----- */
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    z-index: 2;
}

.badge-new {
    background-color: #27ae60;
}

.badge-sale {
    background-color: #e74c3c;
}

.card-details {
    padding: 16px;
    display: grid;
    gap: 4px;
}

.product-brand {
    font-size: 11px;
    text-transform: uppercase;
    color: #888888;
    letter-spacing: 1px;
    font-weight: 500;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
}

.price-row {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-price {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.old-price {
    font-size: 14px;
    color: #aaaaaa;
    text-decoration: line-through;
}